{% extends "base.html" %}
{% block content %}
{% include "content/shared/link_nav.html" %}
<div class="box info" style="width: 100%">
    <strong class="block titlebar">🔗 Link Created</strong>
    <p>
        <a href="{{ long }}" style="overflow-wrap: anywhere;">{{ long }}</a> can be found shortened
        as <a href="{{ short }}" hx-boost="false">{{ short }}</a>.
    </p>
    <section class="tool-bar" style="float: right;">
        <button
            _="on click navigator.clipboard.writeText(window.location.origin + '{{ short }}')"
            class="big"
            autofocus
        >
            📋 Copy Shortlink To Clipboard
        </button>
        <a href="/" class="<button> good big">↩ go back</a>
    </p>
</div>
{% endblock %}
