{% extends "base.html" %}
{% block content %}
{% include "content/shared/link_nav.html" %}
<div class="table rows spacious">
    <div>
        <p>
            Shortlinks are a way to shorten long URLs.
            On this page you can create a shortlink or manage your existing ones.
            Shortlinks can be used by anyone, and require no authentication.
        </p>
    </div>
</div>
<div class="box" style="width: 100%">
    <strong class="block titlebar">🔗 New Shortlink</strong>
    <form action="/link" method="post" style="margin: 10px 0 0 0; padding: 10px;">
        <div class="table rows">
            <p>
                <label for="value">long link:</label>
            </p>
            <input type="hidden" name="action" value="create">
            <p>
                <input id="value" name="value" type="text" placeholder="long"
                    style="width: 100%; margin: auto; vertical-align: middle;" {% match long %} {% when Some with (val)
                    %} value="{{ val }}" {% when None %} {% endmatch %} autofocus>
            </p>
        </div>
        <p>
            <input class="button good big" type="submit" value="🛠️ Create Shortlink" style="float: right;">
        </p>
    </form>
</div>
{% if shortlinks.len() > 0 %}
<div>
    <h3>Previously created shortlinks:</h3>
    {% for shortlink in shortlinks %}
    {% let short = shortlink.link_short(scheme, host) %}
    <div class="box f-row">
        <div>
            <span>🔗 <a href="/{{ shortlink.link_hash() }}" hx-boost="false">{{ short }}</a></span>
            <span> → <a href="{{ shortlink.link_long() }}">{{ shortlink.link_long() }}</a></span>
        </div>
        <section class="tool-bar">
            <form
                action="/link" method="post"
                hx-confirm="Are you sure you wish to delete the shortlink {{ short }} for the long link {{ shortlink.link_long() }}?"
            >
                <input type="hidden" name="value" value="{{ shortlink.link_hash() }}">
                <input type="hidden" name="action" value="delete">
                <input class="button bad big" type="submit" value="🗑️" title="delete shortlink">
            </form>
            <button _="on load show with visibility
                        on click js
                            navigator.clipboard.writeText('{{ short }}')
                            && (new Notyf()).success('Copied {{ short }} to your clipboard')
                        end"
                class="big" title="copy shortlink" style="visibility: hidden;">
                📋
            </button>
        </section>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock %}