{% extends "base.html" %}
{% block content %}
{% include "content/shared/link_nav.html" %}
<div class="box" style="width: 100%">
    <strong class="block titlebar">🔗 New Shortlink</strong>
    <form action="/link" method="post" style="margin: 10px 0 0 0; padding: 10px;">
        <div class="table rows">
            <p>
                <label for="long">long link:</label>
                <input
                    id="long" name="long"
                    type="long" placeholder="long"
                    style="width: 100%; margin: auto; vertical-align: middle;"
                    autofocus
                >
            </p>
        </div>
        <p>
            <input class="button good big" type="submit" value="Create Shortlink" style="float: right;">
        </p>
    </form>
</div>
{% endblock %}
