{% extends "base.html" %}
{% block content %}
{% include "content/shared/link_nav.html" %}
<div class="table rows spacious">
    <div>
        <p>
            Shortlinks are a way to shorten long URLs.
            On this page you can create a shortlink or manage your existing ones.
            Shortlinks can be used by anyone, and require no authentication.
        </p>
    </div>
</div>
<div class="box" style="width: 100%">
    <strong class="block titlebar">🔗 New Shortlink</strong>
    <form action="/link" method="post" style="margin: 10px 0 0 0; padding: 10px;">
        <div class="table rows">
            <p>
                <label for="long">long link:</label>
                <input
                    id="long" name="long"
                    type="long" placeholder="long"
                    style="width: 100%; margin: auto; vertical-align: middle;"
                    {% match long %}
                    {% when Some with (val) %}
                        value="{{ val }}"
                    {% when None %}
                    {% endmatch %}
                    autofocus
                >
            </p>
        </div>
        <p>
            <input class="button good big" type="submit" value="🛠️ Create Shortlink" style="float: right;">
        </p>
    </form>
</div>
{% endblock %}
