{% extends "base.html" %}
{% block content %}
{% include "content/shared/link_nav.html" %}
<div class="box info" style="width: 100%">
    <strong class="block titlebar">🔗 Link Created</strong>
    <p>
        <a href="{{ long }}" style="overflow-wrap: anywhere;">{{ long }}</a> can be found shortened
        as <a href="/{{ hash }}" hx-boost="false">{{ short }}</a>.
    </p>
    <section class="tool-bar" style="float: right;">
        <button
            _="on load show with visibility
                on click js
                    navigator.clipboard.writeText('{{ short }}')
                    && window.bckt.notify('Copied {{ short }} to your clipboard')
                end"
            class="big"
            style="visibility: hidden;"
        >
            📋 Copy Shortlink To Clipboard
        </button>
        <a href="/link" class="<button> good big">↩ go back</a>
    </p>
</div>
{% endblock %}
