{% extends "base.html" %}
{% block content %}
<div class="table rows spacious">
    <div>
        <p>
            bckt.xyz is a URL shortener and secret sharing service.
            Shortlinks and secrets can be shared with anyone, and require no login to this platform.
            However, in order to create shortlinks or secrets, you must login using a magic link below.
        </p>
    </div>
    <div>
        <p>
            Magic links are sent to your email address, and are valid for 1 hour.
            Once used they log you in for up to 1 week and allow you to create shortlinks and secrets.
        </p>
    </div>
</div>
<div class="box" style="width: 100%">
    <strong class="block titlebar">⎆login using a magic link</strong>
    <form action="/login" method="post" style="margin: 10px 0 0 0; padding: 10px;">
        <div class="table rows spacious">
            <p>
                <label for="email">email:</label>
                <input
                    id="email" name="email"
                    type="email" placeholder="email"
                    style="width: 100%; margin: 0 5px 0 0;"
                    {% match email %}
                    {% when Some with (val) %}
                        value="{{ val }}"
                    {% when None %}
                    {% endmatch %}
                    autofocus
                >
            </p>
        </div>
        <p>
            <input class="button good big" type="submit" value="send magic link" style="float: right;">
        </p>
    </form>
</div>
<div class="box info" style="margin: 0;">
    <strong class="block titlebar">🔒 Private Platform</strong>
    <p>
        Only authorized email addreses can login using magic links.
        This is a privelage reserved for friends of <a href="/author" hx-boost="false">Plabayo</a>.
        <a href="https://github.com/sponsors/plabayo">Become a sponsor of Plabayo</a> to support
        our work and get as a reward access to services such as this one.
    </p>
</div>
{% endblock %}
