{% extends "base.html" %}
{% block content %}
<div class="box" style="width: 100%; max-width: 500px;">
    <strong class="block titlebar">login using a magic link</strong>
    <form action="/login" method="post" style="margin: 10px 0 0 0; padding: 10px;">
        <div class="table rows spacious">
            <p>
                <label for="email">email:</label>
                <input
                    id="email" name="email"
                    type="email" placeholder="email"
                    style="width: 100%; margin: 0 5px 0 0;"
                    autofocus
                >
            </p>
        </div>
        <p>
            <input class="button good big" type="submit" value="send magic link" style="float: right;">
        </p>
    </form>
</div>
{% endblock %}
