:root {
    /* fonts */
    --main-font: sans-sarif;
    --secondary-font: sans-sarif;
    --mono-font: "Cascadia Code", monospace, monospace;

    /* layout */
    --density: 1.5;
}

.titlebar {
    padding-top: calc(var(--rhythm)*var(--density)*0.1);
    padding-bottom: calc(var(--rhythm)*var(--density)*0.1);
}

button:hover, .\<button\>:hover, input[type=submit]:hover {
    cursor: pointer;
}

/* Light Mode */
:root {
    --bg: #F1FAEE;
    --fg: #1D3557;
    --muted-fg: #457B9D;
    --faded-fg: #A8DADC;
    --graphical-fg: #1D3557;
    --box-bg: #F1FAEE;
    --interactive-bg: #A8DADC;
    --accent: #1D3557;
    --muted-accent: #457B9D;
    --plain-fg: #1D3557;
    --info-fg: #1D3557;
    --ok-fg: #457B9D;
    --bad-fg: #E63946;
    --custom-error-text: #fff1f2;
    --warn-fg: #E76F51;
    --plain-graphical-fg: #1D3557;
    --info-graphical-fg: #457B9D;
    --ok-graphical-fg: #2A9D8F;
    --bad-graphical-fg: #c6535c;
    --warn-graphical-fg: #E76F51;
    --plain-bg: #F1FAEE;
    --info-bg: #A8DADC;
    --ok-bg: #2A9D8F;
    --bad-bg: #eb6974;
    --warn-bg: #E76F51;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root:not(.-no-dark-theme) {
        --bg: #1D3557;
        --fg: #F1FAEE;
        --muted-fg: #A8DADC;
        --faded-fg: #457B9D;
        --graphical-fg: #F1FAEE;
        --box-bg: #1D3557;
        --interactive-bg: #457B9D;
        --accent: #F1FAEE;
        --muted-accent: #A8DADC;
        --plain-fg: #F1FAEE;
        --info-fg: #F1FAEE;
        --ok-fg: #2A9D8F;
        --bad-fg: #E63946;
        --custom-error-text: #fff1f2;
        --warn-fg: #E76F51;
        --plain-graphical-fg: #F1FAEE;
        --info-graphical-fg: #A8DADC;
        --ok-graphical-fg: #2A9D8F;
        --bad-graphical-fg: #bd535c;
        --warn-graphical-fg: #E76F51;
        --plain-bg: #1D3557;
        --info-bg: #457B9D;
        --ok-bg: #2A9D8F;
        --bad-bg: #f7c1c5;
        --warn-bg: #E76F51;
    }
}
