<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>bckt.xzy</title>

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🪣</text></svg>">

    <script src="/static/js/htmx.min.js?v=1.9.6"></script>
    <link rel="stylesheet" href="/static/css/missing.min.css?v=1.1.1" />
    <link rel="stylesheet" href="/static/css/style.css?t=bucket&v=0.1.0" />
</head>

<body hx-boost="true">
    <main class="width:100%" style="max-width: 780px;">
        <header class="width:100% center" style="margin: 20px 0;">
            <h1>
                <a href="/" style="font-size: 3em">🪣 bckt.xzy</a><v-h>:</v-h>
                <sub-title>
                    <a href="https://github.com/plabayo/bucket">Made with</a>
                    ❤️ by
                    <a href="https://plabayo.tech">plabayo</a>
                    .
                </sub-title>
            </h1>
        </header>

        <div class="center">
        {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>