<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>bckt.xyz</title>

    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%2210 0 100 100%22><text y=%22.90em%22 font-size=%2290%22>🪣</text></svg>">

    <meta name="description" content="link shortener and secret share">
    <meta name="robots" content="index,follow">
    <link rel="canonical" href="https://bckt.xyz/">

    <meta property="og:title" content="bckt.xyz" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website">
    <meta property="og:description" content="link shortener and secret share" />
    <meta property="og:url" content="https://bckt.xyz/" />
    <meta property="og:site_name" content="bckt.xyz" />
    <meta property="og:image" content="/og-image">

    <script src="/static/js/htmx.min.js?v=1.9.6"></script>
    <script type="module" src="/static/js/bckt.js?v=0.1.0"></script>

    <link rel="stylesheet" href="/static/css/missing.min.css?v=1.1.1" />
    <link rel="stylesheet" href="/static/css/style.css?t=bucket&v=0.1.3" />
</head>

<body>
    <main class="width:100%" style="max-width: 650px;">
        <header class="width:100% center" style="margin: 0 0 10px 0;">
            <h1 style="margin: 0;">
                <a href="/" hx-boost="true">🪣 bckt.xyz</a>
            </h1>
            <p style="margin: 0; padding-bottom: 10px;">
                <a href="/code">Made with</a>
                ❤️ by
                <a href="/author">plabayo</a>
                .
            </p>
        </header>

        <div id="content" class="center" style="padding: 5px" hx-boost="true">
            {% block content %}{% endblock %}
        </div>
    </main>
</body>

</html>