{% extends "base.html" %}
{% block content %}
<div class="container crowded">
    <h3>welcome <code>{{ email }}</code></h1>
    <section class="tool-bar">
        <a href="/logout" class="<button> bad">👋 Logout</a>
    </section>
</div>
<div class="box card">
    <strong class="block titlebar">🔗 Shortlinks</strong>
    <p>
        Shortlinks are a way to shorten long URLs.
        You can start creating a shortlink or manage your existing ones
        using the button below.
    </p>
    <p>
        <a href="/link" class="<button> big" style="float: right">🔧 Manage Shortlinks</a>
    </p>
</div>
{% endblock %}