{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 style="margin: 0">Welcome <code>{{ email }}</code>.</h1>
    <section class="tool-bar">
        <a href="/logout" class="<button>">Logout 👋</a>
    </section>
</div>
<div class="box card">
    <strong class="block titlebar">🔗 Create a Shortlink</strong>
    <form hx-post="/api/link">
        <input id="link" name="link" type="text">
        <button class="good" type="submit">Create Shortlink</button>
    </form>
</div>
{% endblock %}